.detalle{
    width: 70%;
    height: 80vh;
    margin: auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.detalle>img{
    width: 280px;
    height: 330px;
}