.content-cart{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
.cart{
    width: 24px;
    cursor: pointer;
}
.cantidad{
    position: relative;
    top: -0.6rem;
    right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
}

.div-modal{
    position: absolute;
    top: 3rem;
    right: 4.2rem;
}