.index{
    background: linear-gradient(-120deg, #2c201b, #4d3e2c, #2c201b);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 3rem;
    font-size: 64px;
    font-family: 'Merienda', cursive;
    color: #fff;
}
.general-cont{
    width: 80%;
    margin: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}