.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 1rem 2rem;
    background-color: #E6CCE6;
    color: #000000;
}
.marca{
    display: flex;
    align-items: center;
}

.logo-title{
    font-size: 32px;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: #654321;
}

.logo{
    width: 58px;
    height: 58px;
}

.links{
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Merienda', cursive;
    font-weight: 400;
    color: #654321;
}

.links>span{
    cursor: pointer;
}