.modal{
    width: 500px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    background-color: rgb(179, 178, 178);
}
.items-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border: 1px solid #000000af;
    border-radius: 3px;
}
.items-modal img{
    width: 64px;
}
.modal p {
    display: flex;
    justify-content: center;
}
.content-button{
    display: flex;
    justify-content: space-evenly;
}
.clear{
    text-decoration: none;
    align-self: flex-end;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(80, 80, 80);
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 2px #000;
    cursor: pointer;
}