.container{
    margin-bottom: 1rem;
    width: 230px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container>img{
    width: 100%;
}