.container{
    margin: 1rem 0 0 0;
    padding: .5rem;
    width: 230px;
    border-radius: 2px;
    border: 1px solid #0000008a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container>img{
    width: 100%;
}
.anchor{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}